
/*.navbar>.container , .navbar>.container-fluid {*/
/*margin-left: 10px !important;*/
/*}*/
.no_underline{
    text-decoration: none !important;
}
.card{
    font-family: georgia;
    background-color: rgba(211, 211, 211, 0.22);;
    width: 40rem;
    height: 40rem;
    border:1px lightgray;
    box-shadow: 4px 10px 10px 6px rgba(20, 20, 20, 0.6);
}

.card:hover{
    width: 42rem;
    height: 42rem;
    box-shadow: 4px 15px 15px 6px rgba(20, 20, 20, 0.6);

}
.card-title{
    padding-top: 20%;
    margin-top: 20%;
    font-size: 40px;
    color: rgb(18, 43, 64);
}
.card-text{
    font-size: 20px;
}
.pic {
    border-radius: 50%;
    /*background-color: #cccccc;*/
    background-color: rgba(0, 0, 0, 0.34);
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0px 15px 6px rgba(20, 20, 20, 0.6);
    box-shadow: 0px 8px 6px rgba(20, 20, 20, 0.6);
    margin-right: -50%;
    transform: translate(90%, 0%);
}
.name {

    /*color: #222222;*/
    /*color: #122b40;*/
    color: #555;
    font-size: 200%;
    font-family: georgia;

}
.glyphicon-chevron-down:before {
    color: white;
}
.panel{
    display:block;
    width:150px;
    height:150px;
    line-height:50px;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    font-weight: bolder;
    /*font-family: georgia;*/
    text-align:center;
    text-decoration:none;
    text-shadow:0px 0px 5px #080808;
    /*background: #464646;*/
    background-color: rgba(153, 153, 153, 0.09);
    box-shadow: 5px 5px 6px #080808;
    font-size:20px;
    font-weight:bold;
    background-image: url("images/logo2.png");
    background-size: 150px 150px;
    background-repeat: no-repeat;
    /*width: 100%;*/
    /*box-shadow: 10px 10px 5px grey !important;*/
    /*margin-bottom: 50px !important;*/
    margin-bottom: 50px !important;
}
.panel:hover{

    color: #122b40 !important;
    text-shadow:0px 0px 5px #ffffff;
    /*width: 95%;*/
    box-shadow: none !important;
}
.panel-body:hover {

    box-shadow: none;
}
.panel-body{
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.74);
    background-color: rgba(128, 128, 128, 0.81);
    padding: 0px;
    font-family: georgia;
    font-weight: 400;
}
@media screen and (max-width: 992px) {
    p,input,div,span,h4,#quote {
        font-size: 95%;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    p,input,div,span,h4,#quote {
        font-size: 110%;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
}


.navbar-inverse  {
    color: #9d9d9d;
}

#section1{

    color: #ffffff !important;
    padding-top: 70px !important;
    /*background: rgba(0,0,0,.2) !important;*/
    /*height: 800px;*/
    min-height: 900px;
    height: auto;

}
#section2{
    color: #43779d !important;
    /*background: #42729d !important;*/
    background: rgba(0,0,0,.5) !important;
    /*height: 500px;*/
    height: auto;
    /*font-style: italic;*/
    /*font-size: 30px;*/
    font-family: "Serif";

}
#section3{
    color: #43779d !important;
    background: rgba(0,0,0,.9) !important;
    /*background: #9c9b9d !important;*/
    /*height: 500px;*/
    height: auto;
    /*font-style: italic;*/
    /*font-size: 30px;*/
    font-family: "Serif";
}#section4{
     color: #43779d !important;
    min-height: 700px;
     color: #43779d !important;
     background: rgba(0,0,0,.5) !important;
     /*height: 700px;*/
    height: auto;
     /*font-style: italic;*/
     font-family: "Serif";
 }


#bodyDiv{
    background-image: url("images/UEFA-Champions-League-Stadium-Wallpaper.jpg");

}
#navbarLogo{
    padding-top: 5px;
    padding-bottom: 5px !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #d9edf7;
}
#logo{
    text-align: center;
}

.navbar-nav>li>a {
    line-height: 30px !important;
}

#myNavbar{
    font-size: 18px;
    font-family: "Serif";
}
.navbar-inverse{
    background-color:rgba(0,0,0,.5);
}

#quote{
    font-style: italic;
    /*font-size: 30px;*/
    font-family: "Serif";
    /*background: #42729d;*/
    color: #ffffff;
    /*border-radius: 1em;*/
    /*padding: 1em;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#button{
    /*position: relative;*/
    /*left: 48%;*/
    /*top:50%;*/
    background: #000000;
    color: #42729d !important;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 200%;

}
.footer{
    background-color: red;
}
