<!DOCTYPE html>
<html>
<head>
    <title>Mssl</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="home.css">

    <link rel="stylesheet" href="jquery-clockpicker.min.css">
    <script type="text/javascript" src="jquery-clockpicker.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body background="/images/Background.png" style="background-repeat: no-repeat;background-size: cover;  background-opacity: -9">
<section>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--<a class="avbarLogo" id="navbarLogo" href="#section1"><img src="logo1.png"></a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a id="navbarLogo" href="/admin_Home"><img src="images/logo1.png"></a></li>
                <!--<li class="active"><a href="#section1">Home</a></li>-->
                <li><a href="/">MSSL home</a></li>
                <li><a href="/admin_Home">Admin home</a></li>
##                <li><a href="#section3">Standings</a></li>
##                <li><a href="#section4">Rosters</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">logout</a></li>
            </ul>
        </div>
    </div>
</nav>
</section>
<section>
    <div class="container">
        #parse($page)
    </div>
</section>
</body>
</html>